@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app{
  display: flex;
  position: relative;
}

.scrollable-container {
  overflow: hidden;
}

.scrollable-container:hover {
  overflow: auto;
}



::-webkit-scrollbar{
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track{
  background: transparent;
  /* background: #e0e0e0; */
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 10px;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover{
  background: #555;
}